{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre commande - La Boutique Française{% endblock %}

{% block content %}
    
    <h2>Confirmation de commande</h2>

    <p>
        Bonjour {{order.user.firstName}} {{order.user.lastName}}. <br><br>
        Nous vous remercions pour votre commande n°{{order.reference}}. <br>
        Une confirmation vient de vous être envoyée par courriel à l'adresse {{order.user.email}}.
    </p>
    <hr>
    <p>
        Votre commande sera livrée par {{order.carrierName}} à l'adresse : <br>
        {{order.delivery|raw}}
    </p>
    <hr>
    <p>
        Pour suivre votre commande, rendez-vous dans votre <a href="{{path('app_account_order')}}">Compte</a>.
    </p>

{% endblock %}
